/* Bold font Weights */
@font-face {
  font-family: "AmaticSC";
  src: url("../assets/fonts/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 800;
}
/* Medium */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 600;
}
/* Regular */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AmaticSC";
  src: url("../assets/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
}
/* light */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Light.ttf") format("truetype");
  font-weight: 200;
}
