/* sm screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    padding-inline: 12px;
  }
  header .header-img {
    max-width: 700px;
  }
  header .header-text .btns {
    justify-content: center;
  }

  .chefs .cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
  .chefs .chef-card {
    max-width: calc(100% / 2 - 24px);
  }
  .chefs .chef-card .card-img {
    top: -10px;
  }
  .imgs-cont {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    height: 1350px;
  }
  .pizza {
    order: 0;
  }
  .steak {
    order: 4;
  }
  .burger {
    order: 1;
  }
  .slices {
    order: 2;
  }
  .fried {
    order: 5;
  }
  .gryl {
    order: 6;
  }
  .che-pizza {
    order: 3;
  }

  .imgs-cont .food {
    width: calc(100% / 2 - 24px);
  }
  .contact-text {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact-text .cell {
    width: calc(100% / 2 - 24px);
  }
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
  }
  .footer-about {
    orphans: 1;
    width: 45%;
  }
  .footer-news {
    order: 3;
  }
  .footer-contact {
    order: 2;
    width: 45%;
  }
}
/* md screens */
@media (min-width: 992px) {
  .container {
    max-width: 980px;
    padding-inline: 12px;
  }
  header .container {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  header .header-img {
    max-width: 40%;
  }
  header .header-text {
    max-width: 40%;
    text-align: start;
  }
  header .header-text .btns {
    justify-content: start;
  }
  .chefs .chef-card {
    max-width: calc(100% / 3 - 24px);
  }
  .chefs .chef-card .card-img {
    top: 0;
  }
  .imgs-cont {
    gap: 24px;
    height: 800px;
  }
  .pizza {
    order: 0;
  }
  .steak {
    order: 2;
  }
  .burger {
    order: 4;
  }
  .slices {
    order: 2;
  }
  .fried {
    order: 5;
  }
  .gryl {
    order: 6;
  }
  .che-pizza {
    order: 3;
  }
  .imgs-cont .food {
    width: calc(100% / 3 - 24px);
  }
  form .form-row {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
  form .form-name {
    width: 50%;
  }
  form .form-email {
    width: 50%;
  }
  .footer-news .sub form {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-news .sub form input {
    width: 85%;
  }
}
/* lg screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    padding-inline: 12px;
    margin: auto;
  }
  .navbar .modes {
    display: flex;
    width: calc(50% + 130px);
    justify-content: space-between;
  }
  .navbar ul {
    order: -1;
    display: flex;
    gap: 16px;
    flex-direction: row;
    padding: 0;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
  }

  .navbar ul li {
    padding: 8px 4px;
    position: relative;
    border: none;
  }
  .navbar ul li a {
    color: var(--sec-font-color);
    padding-bottom: 6px;
    font-weight: 600;
    transition: 0.5s;
  }
  .navbar ul li .active {
    font-weight: 800;
    color: var(--main-font-color);
    padding-bottom: 6px;
  }
  .navbar ul li .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color-l);
  }
  .navbar ul li:hover a {
    color: var(--main-font-color);
  }
  .navbar ul li:hover a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color-l);
    animation: borderbot 0.5s linear forwards;
  }
  @keyframes borderbot {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  .navbar .fa-bars {
    display: none;
  }
  header {
    height: 100vh;
  }
  .chefs .chef-card {
    max-width: calc(100% / 3 - 24px);
  }
  .imgs-cont {
    gap: 24px;
    height: 1000px;
  }
  .pizza {
    order: 0;
  }
  .steak {
    order: 2;
  }
  .burger {
    order: 4;
  }
  .slices {
    order: 2;
  }
  .fried {
    order: 5;
  }
  .gryl {
    order: 6;
  }
  .che-pizza {
    order: 3;
  }
  .imgs-cont .food {
    width: calc(100% / 3 - 24px);
  }
  footer .container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: auto;
  }
  .footer-about {
    orphans: 1;
    width: 25%;
  }
  .footer-news {
    order: 2;
    width: 50%;
  }
  .footer-contact {
    order: 3;
    width: 25%;
  }
  .footer-contact ul li {
    font-size: 18px;
  }
}
/* xlg screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
    padding-inline: 12px;
    margin: auto;
  }
  .navbar ul {
    display: flex;
    gap: 16px;
  }
  .navbar ul li {
    padding: 8px 4px;
  }
  .navbar ul li a {
    color: var(--sec-font-color);
    font-weight: 600;
  }

  .navbar .fa-bars {
    display: none;
  }
}
