/* GLobal Rules and variables */
:root {
  /* Light mode */
  --main-color-l: #ce1212;
  --sec-color-l: #c17e1f;
  --main-bg-l: #fff;
  --sec-bg-l: hsl(0, 0%, 93%);
  /* Dark mode */
  --main-color-d: #c17e1f;
  --sec-color-d: #ce1212;
  --main-bg-d: #171717;
  --sec-bg-d: #252525;
  /*  */
  --main-font-color: #37373f;
  --sec-font-color: #4f4f5a;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  --sb-track-color: var(--main-bg-l);
  --sb-thumb-color: var(--main-color-l);
  --sb-size: 12px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}
body {
  width: 100%;
  font-family: "Inter";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AmaticSC";
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 540px;
  padding-inline: 12px;
  margin: auto;
}
i {
  font-size: 24px;
}
/* End of global rules */
/* ////////////////////////////////////////////// */
/* Nav bar Styleing */
nav {
  background-color: var(--main-bg-l);
  width: 100%;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
}
.navbar {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  font-family: "Inter";
  font-size: 32px;
  position: relative;
}
.navbar h1::after {
  content: ".";
  position: absolute;
  bottom: 0;
  left: 100%;
  font-family: "Inter";
  font-size: 24px;
  color: var(--main-color-l);
}
.navbar h1 a {
  color: var(--main-bg-d);
}
.navbar ul {
  display: none;
}
.navbar .modes {
}
.navbar .modes i {
  padding: 12px;
}
.navbar ul li {
}
/* End of navbar */
/* ////////////////////// */
/* header styling */
header {
  background-color: var(--sec-bg-l);
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 96px;
}
header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 36px 12px;
}
header .header-img {
  max-width: 530px;
}
header .header-img img {
  width: 100%;
  filter: drop-shadow(2px 2px 6px hsla(0, 0%, 0%, 0.6));
}
header .header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
header .header-text h1 {
  font-size: 70px;
  color: var(--main-bg-d);
}
header .header-text p {
  font-size: 16px;
  color: var(--sec-font-color);
  line-height: 1.6;
}
header .header-text .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
header .header-text .book {
  background-color: var(--main-color-l);
  color: var(--main-bg-l);
  padding: 12px 24px;
  border-radius: 999px;
}
header .header-text .video {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--main-bg-d);
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
}
header .header-text .video .playbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(206, 18, 18, 1) 0%,
    rgba(206, 18, 18, 1) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  color: var(--main-bg-d);
  border-radius: 50%;
  position: relative;
  z-index: 10;
}
header .playbtn::before {
  position: absolute;
  z-index: -5;
  background-color: var(--main-bg-l);
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .playbtn i {
  font-size: 16px;
}
/* End of header styling */
/* ////////////////////// */
.sec-title {
  text-align: center;
  text-transform: uppercase;
  padding: 32px 0;
}
.sec-title span {
  font-weight: 400;
  color: var(--sec-font-color);
}
.sec-title h2 {
  font-weight: 800;
  font-size: 40px;
  color: var(--main-font-color);
}
.sec-title h2 span {
  color: var(--main-color-l);
}
/* ////////////////////// */
/* Start Chefs Section styling */
.chefs {
  padding: 48px 0;
}
.chefs .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.chefs .chef-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-l);
  border-radius: 12px;
  filter: drop-shadow(2px 2px 6px hsla(0, 0%, 0%, 0.2));
  overflow: hidden;
}
.chefs .chef-card .card-img {
  position: relative;
}
.chefs .chef-card .card-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url(../assets/images/svg-wave-white.svg);
}
.chefs .chef-card .card-img img {
  width: 100%;
}
.chefs .chef-card .card-text h3 {
  font-size: 20px;
  font-family: "Inter";
  font-weight: 800;
  color: var(--sec-bg-d);
  margin: 20px auto 8px auto;
}
.chefs .chef-card .card-text span {
  font-size: 14px;
  font-weight: 400;
  color: var(--sec-font-color);
  margin: 8px;
}
.chefs .chef-card .card-text p {
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  color: var(--sec-font-color);
  margin: 20px;
}
/* End of chefs section */
/* ////////////////////// */
/* Start Gallery Section styling */
.gallery {
  background-color: var(--sec-bg-l);
  padding: 48px 0;
}
.imgs-cont {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.imgs-cont .food {
  border: 4px solid var(--main-bg-l);
  width: 100%;
  filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.3));
}
.imgs-cont .food img {
  width: 100%;
  display: block;
}
/* End of Gallery Section */
/* ////////////////////// */
/* Start contact */
.contact .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.map {
  display: block;
  margin: auto;
  border: 1px solid var(--main-color-l);
  border-radius: 8px;
  z-index: 5;
  height: 250px;
  width: 100%;
  background-color: var(--sec-color-l);
  overflow: hidden;
}
.contact-text {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}
.contact-text .cell {
  width: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--sec-bg-l);
  border-radius: 4px;
}

.contact-text .cell-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-l);
}
.contact-text .cell i {
  font-size: 14px;
  color: var(--main-bg-l);
}
.contact-text .cell .cell-text h4 {
  font-size: 14px;
  margin-bottom: 4px;
  font-family: "Inter";
  font-weight: 400;
}
.contact-text .cell .cell-text p {
  font-size: 12px;
  font-weight: 200;
}
.form-container {
  background-color: var(--main-bg-l);
  padding: 24px 16px;
  filter: drop-shadow(2px 2px 4px hsla(0, 0%, 0%, 0.3));
}
.contact form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form .form-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.contact form input {
  display: block;
  min-height: 40px;
  color: var(--main-font-color);
  border: 1px solid #a5a5a5;
  padding: 8px 14px;
  box-shadow: inset 0px 0px 3px 1px rgb(243, 243, 243);
}
.contact form input:focus {
  border: 1px solid var(--main-color-l);
  outline: 1px solid var(--main-color-l);
  box-shadow: none;
  color: var(--main-font-color);
}

form .form-subject {
  width: 100%;
}
form .form-message {
  min-height: 40px;
  border: 1px solid #a5a5a5;
  padding: 8px 14px;
  box-shadow: inset 0px 0px 3px 1px rgb(243, 243, 243);
  width: 100%;
  color: var(--main-font-color);
}
.contact .form-message:focus {
  border: 1px solid var(--main-color-l);
  outline: 1px solid var(--main-color-l);
  box-shadow: none;
  color: var(--main-font-color);
}
.form-submit {
  background-color: var(--main-color-l);
  margin: auto;
  box-shadow: none;
  border: none;
  padding: 14px 36px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 300;
  color: var(--main-bg-l);
}
/* End of Contact Seciton */
/* ///////////////////////// */
/* Start footer styling */
footer {
  background-image: linear-gradient(
      90deg,
      rgba(17, 17, 17, 0.7) 0%,
      rgba(17, 17, 17, 0.7) 100%
    ),
    url(../assets/images/textured-metal-background.jpg);
  background-position: center;
  background-size: contain;
  overflow: auto;
}

footer .container {
  position: relative;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--main-bg-l);
}
.footer-about {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-about .logo {
  display: flex;
  gap: 14px;
  width: 100%;
}
.footer-about .logo img {
  width: 30px;
}
.footer-about .logo h1 {
  font-family: "Inter";
  font-size: 24px;
  position: relative;
}
.footer-about .logo h1::after {
  content: ".";
  position: absolute;
  bottom: 0;
  left: 100%;
  font-size: 24px;
  color: var(--main-color-l);
}
.footer-about p {
  font-size: 16px;
}
.footer-about .social {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.footer-about .social h3 {
  font-size: 18px;
  padding-bottom: 8px;
  font-family: "Inter";
  border-bottom: 1px solid var(--sec-bg-l);
  width: 100%;
}
.footer-about .social ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.footer-about .social li a {
  color: var(--main-bg-l);
}
.footer-news {
  display: flex;
  flex-direction: column;
}
.footer-news h3 {
  font-size: 18px;
  padding-bottom: 12px;
  font-family: "Inter";
  width: 100%;
}
.footer-news p {
  font-size: 16px;
  padding-bottom: 12px;
}
.footer-news .sub form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
}
.footer-news .sub form input {
  display: block;
  min-height: 40px;
  color: var(--main-font-color);
  border: 1px solid #a5a5a5;
  padding: 8px 14px;
}
.footer-news .sub form button i {
  font-size: 16px;
}
.footer-news .sub form button {
  color: var(--main-bg-l);
  padding: 8px 14px;
  font-size: 16px;
  background-color: var(--main-color-l);
  border: none;
}
.footer-news ul {
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-news ul li {
  width: 50%;
}
.footer-news ul li i {
  font-size: 16px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
}
.footer-contact h3 {
  font-size: 18px;
  padding-bottom: 12px;
  font-family: "Inter";
  width: 100%;
}
.footer-contact ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-contact ul li {
  font-size: 18px;
}
.footer-contact ul li i {
  font-size: 18px;
  color: var(--main-color-l);
  padding-inline: 12px;
}
