/* GLobal Rules and variables */
:root {
  /* Light mode */
  --main-color-l: #ce1212;
  --sec-color-l: #c17e1f;
  --main-bg-l: #fff;
  --sec-bg-l: #eee;
  /* Dark mode */
  --main-color-d: #c17e1f;
  --sec-color-d: #ce1212;
  --main-bg-d: #171717;
  --sec-bg-d: #252525;
  /*  */
  --main-font-color: #37373f;
  --sec-font-color: #4f4f5a;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Inter";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AmaticSC";
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 540px;
  padding-inline: 12px;
  margin: auto;
}
i {
  font-size: 24px;
}
/* End of global rules */
/* ////////////////////////////////////////////// */
/* Nav bar Styleing */
nav {
  background-color: var(--main-bg-l);
  width: 100%;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
}
.navbar {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar h1 {
  font-family: "Inter";
  font-size: 32px;
  position: relative;
}
.navbar h1::after {
  content: ".";
  position: absolute;
  left: 100%;
  font-family: "Inter";
  font-size: 24px;
  color: var(--main-color-l);
}
.navbar h1 a {
  color: var(--main-bg-d);
}
.navbar ul {
  display: none;
}
.navbar .modes {
}
.navbar .modes i {
  padding: 12px;
}
.navbar ul li {
}
/* End of navbar */
/* ////////////////////// */
/* header styling */
header {
  background-color: var(--sec-bg-l);
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 96px;
}
header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 36px 12px;
}
header .header-img {
  max-width: 530px;
}
header .header-img img {
  width: 100%;
}
header .header-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
header .header-text h1 {
  font-size: 70px;
  color: var(--main-bg-d);
}
header .header-text p {
  font-size: 16px;
  color: var(--sec-font-color);
  line-height: 1.6;
}
header .header-text .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
header .header-text .book {
  background-color: var(--main-color-l);
  color: var(--main-bg-l);
  padding: 12px 24px;
  border-radius: 999px;
}
header .header-text .video {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--main-bg-d);
  padding: 12px 24px;
  border-radius: 999px;
  font-weight: 600;
}
header .header-text .video .playbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(206, 18, 18, 1) 0%,
    rgba(206, 18, 18, 1) 50%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  color: var(--main-bg-d);
  border-radius: 50%;
  position: relative;
  z-index: 10;
}
header .playbtn::before {
  position: absolute;
  z-index: -5;
  background-color: var(--main-bg-l);
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .playbtn i {
  font-size: 16px;
}
/* End of header styling */
